@page "/estimates"
@inject IEstimator EstimatorService
@using Microsoft.Extensions.Logging
@using DocumentFormat.OpenXml.Packaging;
@using DocumentFormat.OpenXml.Spreadsheet;

@inject NavigationManager NavigationManager
@inject ILogger<Estimates> Logger

<div class="container">
    <div class="row" >
        <div class="col-8">
            <h3>Estimates</h3>
        </div>
        <div class="col-4">
            <span style="cursor:pointer;margin-top:.2em;" @onclick="CreateNewEstimate"><span class="oi oi-plus pe-auto" aria-hidden="false"></span> Create New Estimate</span>
        </div>
        <div class="col-8">
            @*            
            <span style="padding-left:1em;"><span class="oi oi-cloud-download" aria-hidden="true"></span> Load From Excel</span>
            <InputFile OnChange="LoadFile"  />
            *@
        </div>
    </div>
    <div class="row" hidden="@_hideList">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Client Name</th>
                        <th>Job Code</th>
                        <th>Project Manager</th>
                        <th>Estimate Date</th>
                        <th>Estimate Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var estimate in _estimates)
                    {
                        <tr>
                            <td @onclick="(e=>SelectEstimate(estimate))">@estimate.ClientName</td>
                            <td>@estimate.JobCode</td>
                            <td>@estimate.ProjectManager</td>
                            <td>@estimate.EstimatedStartDate</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
@*    <div class="row" hidden="@_hideEstimate" @onclick="ShowEstimates">
        <span><span class="oi oi-list" aria-hidden="true"></span> Show Estimates</span>
    </div>
*@
    <div class="row" hidden="@_hideEstimate">
        <Estimator.UI.Maui.Components.Estimate estimate="@_currentEstimate"></Estimator.UI.Maui.Components.Estimate>
    </div>
</div>

    
@code {
    private IEnumerable<Estimator.UI.Model.Estimate> _estimates = new List<Estimator.UI.Model.Estimate>();
    private bool _hideList { get; set; } = false;
    private bool _hideEstimate { get; set; } = true;

    private Estimator.UI.Model.Estimate _currentEstimate = new Estimator.UI.Model.Estimate();

    protected override void OnInitialized()
    {
        Logger.LogInformation("Now loading... Estimates");

//        _estimates = EstimatorService.GetEstimates();
        _currentEstimate = new Estimator.UI.Model.Estimate();
        _hideList = true;
        _hideEstimate = false;

    }


    private void CreateNewEstimate()
    {
        _currentEstimate = new Estimator.UI.Model.Estimate();
        _hideList = true;
        _hideEstimate = false;

    }
    private void ShowEstimates()
    {
        _hideList = false;
        _hideEstimate = true;
        _currentEstimate = new Estimator.UI.Model.Estimate();
    }

    private void SelectEstimate(Estimator.UI.Model.Estimate estimate)
    {
        _currentEstimate = estimate;
        _hideList = true;
        _hideEstimate = false;
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        if (e.File.Name.EndsWith(".xlsx"))
        {
            var ms = new MemoryStream();
            await e.File.OpenReadStream().CopyToAsync(ms);

            //  var sd = SpreadsheetDocument.Open(GridItemsLayout, true);

        }   
    }



}
